<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pomalu to dávám dokupy - HTML a CSS</title>
        <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
    </head>
    <body>

        <h1 class="important">Cupcakes</h1>
        <h2>Cupcakes 2: klony se vrací</h2>
        <p>
            Cake jelly beans tiramisu. <a href="#" class="important">Sweet cookie soufflé donut caramels.</a> Dragée chocolate halvah gingerbread caramels pie.
            Tiramisu marshmallow candy soufflé caramels gingerbread danish muffin lemon drops.
        </p>

        <p class="controls">
            <button class="btn btn-success">Přidat polevu</button>
            <button class="btn btn-danger">Klik</button>
        </p>

        <p>
            CUUUUS
        </p>
    </body>
</html>