<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pomalu to dávám dokupy - HTML a CSS</title>
        <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
    </head>
    <body>

        <h1 class="important">Cupcakes</h1>
        <h2>Cupcakes 2: klony se vrací</h2>
        <p>
            Cake jelly beans tiramisu. <a href="#" class="important">Sweet cookie soufflé donut caramels.</a> Dragée chocolate halvah gingerbread caramels pie.
            Tiramisu marshmallow candy soufflé caramels gingerbread danish muffin lemon drops.
        </p>

        <p class="controls">
            <button class="btn btn-success">Přidat polevu</button>
            <button class="btn btn-danger">Klik</button>
        </p>

        <p>
            <em>Pie macaroon cake biscuit candy powder</em> tootsie roll chocolate bar. Gummi bears pudding toffee. Dragée chupa chups sweet.
            Candy canes pastry ice cream bear claw soufflé carrot cake gummies croissant.
        </p>

        <p>
            Pastry gummies pudding. Jelly beans chocolate cake gummi bears cake lemon drops chocolate fruitcake lollipop chupa chups.
            Jelly-o lemon drops bonbon cake donut dragée pie.
        </p>

        <p>
            Cotton candy toffee tiramisu jujubes. Cotton candy tootsie roll dragée. Bonbon cupcake cupcake fruitcake cake carrot
            cake candy powder carrot cake. <strong class="important">Topping carrot cake</strong> marzipan sesame snaps gummi bears cheesecake pie donut.
        </p>

        <p>
            Muffin dessert marshmallow toffee ice cream sweet roll sweet roll danish. Icing macaroon cake carrot cake halvah
            cookie chocolate bar cupcake pastry. Halvah muffin icing powder cupcake. Donut chocolate pastry.
        </p>
    </body>
</html>